body{
    background-color: lightgrey;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

.rating-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.rating-container h5{
    width: 100%;
}

.rating-container button{
    height: 2em;
}

.rating-container span{
    width: 3em;
    color: skyblue;
}

table{
    margin-top: 2em;
    width: 100%;
}

tbody{
    text-align: left;
    
}

th{
    cursor: pointer;
    text-decoration: underline;
    min-width: 5em;
}

td{
    background-color: grey;
    padding: .3em;
}

td button{
    background-color: #fff;
}

.modal {
    background-color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
  }
  .modal.open {
    left: 50%;
    transition: left 0.5s;
  }
  .modal h3 {
    color: black;
    text-decoration: overline;
    text-transform: capitalize;
  }
  .modal h4 {
     color: black;
  }
  .modal > p {
    text-align: left;
    color: black;
  }

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: whitesmoke;
    padding: 10px;
  }
  .user-msg.open {
    bottom: 10px;
    transition: bottom 0.5s;
  }